<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>

<body ng-app="myapp">
    <div ng-controller="myctrl">
        <div class="main layui-anim layui-anim-upbit hover" ng-if="ismain01">
            <img src="img/{{blList.imgAll}}.png" alt="" id="" usemap="#Map">
            <map name="Map">
                <area shape="poly" coords="{{jd.XY}}" ng-click="imghover(jdIndex)" ng-repeat="(jdIndex,jd) in blList.jdList">
                <area ng-click="imgback()" shape="poly" coords="{{blList.backXY}}">
            </map>
            <div class="font">
                <img src="img/imgcloud.png" alt="">
                <div class="font_content" ng-show="!ishover">
                    <h1 ng-bind="blList.title"></h1>
                    <p ng-bind="blList.font"></p>
                </div>
            </div>
            <div class="layui-anim layui-anim-upbit hover" ng-show="ishover">
                <img src="img/{{jdList.imgHover}}.png" alt="" usemap="#Maph">
                <map name="Maph">
                    <area shape="poly" coords="{{jd.XY}}" ng-click="imghover(jdIndex)" ng-repeat="(jdIndex,jd) in blList.jdList">
                    <area ng-click="imgback()" shape="poly" coords="{{blList.backXY}}">
                </map>
                <div class="font">
                    <div class="font_content">
                        <h1 ng-bind="jdList.title"></h1>
                        <p ng-bind="jdList.font"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main layui-anim layui-anim-upbit hover" ng-if="ismain02">
            <img src="img/{{jdList.imgAll}}.png" alt="" id="" usemap="#Map">
            <map name="Map">
                <area shape="poly" coords="{{pq.XY}}" ng-click="imghover(pqIndex)" ng-repeat="(pqIndex,pq) in jdList.pqList">
                <area shape="poly" ng-click="imgback()" coords="{{jdList.backXY}}">
            </map>
            <div class="font">
                <img src="img/imgcloud.png" alt="">
                <div class="font_content" ng-show="!ishover">
                    <h1 ng-bind="jdList.title"></h1>
                    <p ng-bind="jdList.font"></p>
                </div>
            </div>
            <div class="layui-anim layui-anim-upbit hover" ng-show="ishover">
                <img src="img/{{pqList.imgHover}}.png" alt="" usemap="#Maph">
                <map name="Maph">
                    <area shape="poly" coords="{{pq.XY}}" ng-click="imghover(pqIndex)" ng-repeat="(pqIndex,pq) in jdList.pqList">
                    <area shape="poly" ng-click="imgback()" coords="{{pqList.backXY}}">
                </map>
                <div class="font">
                    <div class="font_content">
                        <h1 ng-bind="pqList.title"></h1>
                        <p ng-bind="pqList.font"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main layui-anim layui-anim-upbit hover" ng-if="ismain03">
            <img src="img/{{jdList.imgAll_Cun}}.png" alt="" id="" usemap="#Map">
            <map name="Map">
                <area shape="poly" coords="{{cun.XY}}" ng-click="imghover(cunIndx)" ng-repeat="(cunIndx,cun) in jdList.cunList">
                <area shape="poly" ng-click="imgback()" coords="{{jdList.backXY}}">
            </map>
            <div class="font" ng-show="!ishover">
                <img src="img/imgcloud.png" alt="">
                <div class="font_content">
                    <h1 ng-bind="jdList.title"></h1>
                    <p ng-bind="jdList.font"></p>
                </div>
            </div>
            <div class="layui-anim layui-anim-upbit hover" ng-show="ishover">
                <img src="img/{{cunList.imgHover}}.png" alt="" usemap="#Maph">
                <map name="Maph">
                    <area shape="poly" coords="{{cun.XY}}" ng-click="imghover(cunIndx)" ng-repeat="(cunIndx,cun) in jdList.cunList">
                    <area shape="poly" ng-click="imgback()" coords="{{cunList.backXY}}">
                </map>
                <div class="font" ng-if="false">
                    <div class="font_content">
                        <h1 ng-bind="cunList.title"></h1>
                        <p ng-bind="cunList.font"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/layui.js"></script>
<script src="js/angular.min.js"></script>
<script>
    var app = angular.module("myapp", []);
    app.controller("myctrl", function ($scope, $http, $timeout) {
        $http.get('data/blqwzzb.json').success(function (resoponse) {
            $scope.blList = resoponse.blqwzzb[0];
            console.log($scope.blList)
        }).error(function (resoponse) {
            alert("JSON数据获取失败")
        });
        $scope.ismain01 = true;
        $scope.ismain02 = false;
        $scope.ismain03 = false;
        $scope.ishover = false;
        $scope.cout = 0;
        $scope.imghover = function (index) {//点击某个地方进入下一层级
            if ($scope.cout == 0) {
                $scope.jdList = $scope.blList.jdList[index];
                $scope.jdNum = index;
                $scope.ishover = true;
                $scope.cout += 1;
                console.log($scope.jdList)
            } else if ($scope.cout == 1) {
                if (index == $scope.jdNum) {
                    if (index == 0 || index == 7) {//判断是否是已经做完的新碶街道和春晓街道//后期要删除
                        $scope.jdList = $scope.blList.jdList[index];
                        $scope.ismain01 = false;
                        $scope.ismain02 = true;
                        $scope.ishover = false;
                        $scope.cout += 1;
                    }
                } else {
                    $scope.ishover = false;
                    $timeout(function () {
                        $scope.jdList = $scope.blList.jdList[index];
                        $scope.ishover = true;
                    }, 100)
                    $scope.jdNum = index;
                    $scope.cout = 1;
                }

            } else if ($scope.cout == 2) {
                $scope.pqList = $scope.jdList.pqList[index];
                $scope.pqNum = index;
                $scope.ishover = true;
                $scope.cout += 1;
            } else if ($scope.cout == 3) {
                if (index == $scope.pqNum) {
                    $scope.pqList = $scope.jdList.pqList[index];
                    $scope.ismain02 = false;
                    $scope.ismain03 = true;
                    $scope.ishover = false;
                    $scope.cout += 1;
                } else {
                    $scope.ishover = false;
                    $timeout(function () {
                        $scope.pqList = $scope.jdList.pqList[index];
                        $scope.ishover = true;
                    }, 100)
                    $scope.pqNum = index;
                    $scope.cout = 3;
                }
            } else if ($scope.cout == 4) {
                $scope.cunList = $scope.jdList.cunList[index];
                $scope.cunNum = index;
                $scope.ishover = true;
                $scope.cout += 1;
            } else if ($scope.cout == 5) {
                if (index != $scope.cunNum) {
                    $scope.ishover = false;
                    $timeout(function () {
                        $scope.cunList = $scope.jdList.cunList[index];
                        $scope.ishover = true;
                    }, 0)
                    $scope.cunNum = index;
                    $scope.cout = 5;
                }
            }
        }
        $scope.imgback = function () {
            if ($scope.cout == 1) {
                $scope.ishover = false;
                $scope.cout -= 1;
            } else if ($scope.cout == 2) {
                $scope.ismain01 = true;
                $scope.ismain02 = false;
                $scope.ishover = false;
                $scope.cout = 0;
            } else if ($scope.cout == 3) {
                $scope.ishover = false;
                $scope.cout -= 1;
            } else if ($scope.cout == 4) {
                $scope.ismain02 = true;
                $scope.ismain03 = false;
                $scope.ishover = false;
                $scope.cout = 2;
            } else if ($scope.cout == 5) {
                $scope.ishover = false;
                $scope.cout -= 1;
            }
        }
    })
</script>

</html>